<div id="component_Dialog" class="COMPONENT dialogContainer animated" data-animate-in="anim-shove-in-bottom" data-animate-out="anim-shove-out-bottom">
	<div class="dialog">
		<header>
		</header>
		<div class="content">

		</div>
		<ul class="actions"></ul>
	</div>
</div>