/* Open Sans Fonts */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#open_sansextrabold') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#open_sansextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Semibold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
  src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'), url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* Common useful Functions */
body {
  background-color: #000;
  font-family: "Open Sans";
  color: #fff;
}
/* Common controls */
input[type=text],
input[type=search] {
  font-family: "Open Sans";
  background-color: #dedede;
  border: 0;
  padding: 4px 8px;
  transition: background-color ease-in-out 150ms;
}
input[type=text]:focus,
input[type=search]:focus {
  background-color: #fff;
}
/* Component styles */
.COMPONENT {
  display: none;
}
.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 96px;
}
header ul {
  font-family: "Open Sans";
  font-weight: 200;
  font-size: 52px;
  list-style-type: none;
  display: inline-block;
  margin: 14px 6px;
}
header ul li {
  display: inline-block;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  transition: opacity ease-in-out 150ms;
}
header ul li:not(:last-child) {
  opacity: 0.5;
  cursor: pointer;
}
header ul li:not(:last-child):hover {
  opacity: 0.8;
}
header ul li:not(:last-child):after {
  content: " /";
}
div.content {
  position: absolute;
  top: 96px;
  left: 0;
  bottom: 0;
  right: 0;
}
div.content div.userSideBar {
  float: left;
  width: 288px;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
}
div.content div.userSideBar h1 {
  font-family: "Open Sans";
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
}
div.content div.userSideBar h2 {
  font-family: "Open Sans";
  font-weight: 200;
  font-size: 20px;
  text-transform: lowercase;
  margin: 0;
}
div.content div.userSideBar p {
  opacity: 0.6;
  margin: 8px 0;
}
div.content div.pageContainer {
  position: relative;
  float: left;
  width: calc(100% - 288px);
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
}
div.content div.pageContainer input[type=search] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  font-size: 24px;
  font-weight: 200;
  margin: 16px 4px 4px 4px;
}
/* Components */
ul.dataTiles {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul.dataTiles li {
  position: relative;
  display: inline-block;
  width: 144px;
  height: 144px;
  padding: 4px 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 4px;
  background-color: #e3ae24;
  text-align: right;
}
ul.dataTiles li span {
  font-weight: 200;
  font-size: 54px;
  color: #fff;
}
ul.dataTiles li label {
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  text-transform: lowercase;
}
/*# sourceMappingURL=App.css.map */