@import "Constants.less";
@import "Fonts.less";
@import "Functions.less";

body {
	background-color:#000;
	font-family: "Open Sans";
	color:#fff;
}

/* Common controls */
h1 {
	font-weight:900;
	text-transform:uppercase;
	margin-top:0;
	padding-top:0;
	border-bottom:4px solid @accent-color;
}

input[type=text], input[type=password], input[type=search] {
	font-family:"Open Sans";
	background-color:#dedede;
	border:0;
	padding:4px 8px;
	.transition(background-color 150ms ease-in-out);

	&:focus {
		background-color:#fff;
	}
}

/* Component styles */
.COMPONENT {
	display:none;
}

.page {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	.box-sizing(border-box);
	padding:16px;
	overflow:auto;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 96px;
	overflow: hidden;

	ul {
		font-family: "Open Sans";
		font-weight: 200;
		font-size: 52px;
		list-style-type: none;
		display: inline-block;
		margin: 14px 16px;
		padding:0;
		white-space: nowrap;


		li {
			display: inline-block;
			.user-select(none);
			cursor:default;
			transition: opacity ease-in-out 150ms;
			
			&:not(:last-child) {
				opacity: 0.5;
				cursor:pointer;
				&:hover {
					opacity:0.8;
				}
				@media (max-width: @mobile-width) {
					display:none;
				}
			}

			&:not(:last-child):after {
				content: "\00a0/\00a0";
			}
		}
	}
}

body > div.content {
	position:absolute;
	top:96px;
	left:0;
	bottom:0;
	right:0;
	.perspective(1000px);
	overflow:hidden;

	div.userSideBar {
		position:relative;
		float:left;
		width:288px;
		height:100%;
		.box-sizing(border-box);
		padding:16px;
		.transition(margin-left 250ms cubic-bezier(0.190, 1.000, 0.220, 1.000));

		@media (max-width: @mobile-width) {
			margin-left:-288px;
		}

		h1 {
			font-family:"Open Sans";
			font-weight:900;
			font-size:24px;
			text-transform:uppercase;
			border:none;
			margin:0;
			
			a {
				cursor:pointer;
			}
		}

		h2 {
			font-family:"Open Sans";
			font-weight:200;
			font-size:20px;
			text-transform:lowercase;
			margin:0;
		}

		p {
			opacity: 0.6;
			margin:8px 0;
		}
	}

	div.pageContainer {
		position:relative;
		float:left;
		width:calc(~"100% - 288px");
		height:100%;
		.box-sizing(border-box);
		padding:16px;
		.perspective(inherit);
		.transition(width 250ms cubic-bezier(0.190, 1.000, 0.220, 1.000));

		@media (max-width: @mobile-width) {
			width:100%;
		}
	}
}

/* Animations */
@import "Animations.less";

/* Components */
@import "Components/GlobalProgressIndicator.less";
@import "Components/UserBar.less";
@import "Components/DataTiles.less";
@import "Components/Dialog.less";
@import "Components/SubjectSelectionDialog.less";
@import "Components/SubjectCourseSelectionDialog.less";

/* Pages */
@import "Pages/LandingPage.less";
@import "Pages/TermSelectPage.less";
@import "Pages/SubjectPage.less";
@import "Pages/CoursePage.less";
