<!-- Landing Page - this is the first page that is shown -->
<!-- See /Scripts/typescript/Pages/LandingPage.ts for code-behind -->

<div id="component_CoursePage" class="COMPONENT page coursePage animated" data-animate-in="anim-page-in" data-animate-out="anim-page-out">
	<h1></h1>
	<div class="tiles"></div>
	<p class="description"></p>
	<ul class="classes"></ul>
</div>