<!-- Landing Page - this is the first page that is shown -->
<!-- See /Scripts/typescript/Pages/LandingPage.ts for code-behind -->

<div id="component_LandingPage" class="COMPONENT page landingPage animated" data-animate-in="anim-page-in" data-animate-out="anim-page-out">
	<h1>Term Overview</h1>
</div>