<!-- Landing Page - this is the first page that is shown -->
<!-- See /Scripts/typescript/Pages/LandingPage.ts for code-behind -->

<div id="component_SubjectPage" class="COMPONENT page subjectPage animated" data-animate-in="anim-page-in" data-animate-out="anim-page-out">
	<h1></h1>
</div>