<!-- Term Select Page - this is page that allows a user to change what term they are browsing, -->
<!-- and also serves as an 'about' page for Purdue.io -->
<!-- See /Scripts/typescript/Pages/TermSelectPage.ts for code-behind -->

<div id="component_TermSelectPage" class="COMPONENT page termSelectPage animated" data-animate-in="anim-page-in" data-animate-out="anim-page-out">
	<h1>Welcome to Purdue.io</h1>
	<h2>What is Purdue.io?</h2>
	<p>
		Purdue.io is a new way to browse and schedule your Purdue University classes.
		Written by a team of Purdue Computer Science students, Purdue.io seeks to
		set course catalog data free by providing a fast, fluid, accessible interface to users,
		and a completely free, flexible, and open API for developers.
	</p>
	<h2>Choose a term to get started</h2>
	<ul class="terms"></ul>
</div>