@import "../Constants.less";
@import "../Functions.less";

div.page.coursePage {
	ul.classes {
		display:block;
		margin:0;
		padding:0;
		list-style-type:none;

		div.title {
			font-weight:200;
			font-size:32px;
		}

		li {
			display:inline-block;
			width:100%;
			max-width: 448px;
			.box-sizing(border-box);
			margin: 4px;
			padding:4px 12px;
			background-color: lighten(#000,10%);
			border-left:5px solid @accent-color;

			&.full {
				border-color: lighten(#000,30%);
			}

			table.sections {
				tr {
					font-size:14px;
					th {
						font-size:16px;
						text-align:left;
						padding-top:8px;
					}
					td {
						padding:2px 6px;
					}
				}
			}
		}
	}
}